ROBOFLOW_API_KEY=kyHFbAWkOWfGz8fSEw8O
SHOW_BROWSER=false
DRY_RUN=true
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1525937887135273031/EMht-SfpWZIa5H4WZPELqxvPmvTF4lCej9TtrxYAJrKqG7mClHPO7eLZ1W11_IoQt-lz
API_PORT=8090
DISCORD_USER_NOTIFIER=490188162434465803
